[submodule "srv6-sdn-proto"]
	path = src/srv6-sdn-proto
	url = https://github.com/everywan-io/srv6-sdn-proto
[submodule "srv6-sdn-data-plane"]
	path = src/srv6-sdn-data-plane
	url = https://github.com/everywan-io/srv6-sdn-data-plane
[submodule "pynat"]
	path = src/pynat
	url = https://github.com/cscarpitta/pynat
[submodule "srv6pm-delay-measurement"]
	path = src/srv6pm-delay-measurement
	url = https://github.com/everywan-io/srv6pm-delay-measurement
[submodule "srv6-sdn-authentication"]
	path = src/srv6-sdn-authentication
	url = https://github.com/everywan-io/srv6-sdn-authentication
